@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  background:
    linear-gradient(
      180deg,
      #7d8Aad5 30%,
      rgb(255, 155, 255)
    );
}

.front2 {
  text-align: center;
  color: white;
  font-size: 4em;
}

ul {
  align-items: center;
}

li {
  float: left;
  list-style-type: none;
  padding-left: 25px;
  padding-right: 25px;
  border-right: groove 1px #fff;
}

li:active {
  background: #eee;
  box-shadow: inset 0 1px 1px #666;
}

li::after {
  background: #eee;
  box-shadow: inset 0 1px 1px #666;
}

.led {
  border: 4px solid white;
  color: #621569;
  margin: 20px 20px 50px 50px;
  height: 70px;
  width: 80%;
  text-align: center;
}

.led1 > * {
  border: 2px solid white;
  transform: translateY(5%);
  margin-left: 2%;
  margin-top: 18px;
  margin-right: 10%;
  float: left;
  width: 1.8%;
}

.color {
  display: flex;
  justify-content: center;
}

#color {
  width: 200pt;
  height: 50pt;
  border: 4px solid #fff;
}

.btn {
  padding: 10px;
  color: #fff;
  background: #000;
  cursor: pointer;
}

.yellowback {
  background-color: yellow;
}

.row {
  margin-left: 800px;
}

.re {
  margin-left: 7px;
}
